@charset "utf-8";

h1{
    color: rgb(202, 74, 74);
}




#taishitsu_exitM_id{
    text-align: center;
}

#taishitsu_diff{
    text-align: center;    
  
}

#filter_exitM_chk_filter{

    width:			24px;
	height:			24px;
	-moz-transform:		scale(1.4);
	-webkit-transform:	scale(1.4);
	transform:		scale(1.4);

}



.table1 {
    
    border-collapse: separate;
    border-bottom: solid 2px #d83131;
    border-spacing: 0px 1ex;

}

.table2 {
    
    border-collapse: separate;
    border-bottom: solid 1px #000000;
    border-spacing: 0px 1ex;

}

/* .table2 td{
    word-break : break-all;
} */

#frm_exit{
    background-color: white;
}

table.table2 tr:hover{
    background-color: #CCFFFF;
}